<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599552293687-v55o86l1h42slb0ch1rsismsha1270vg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599552293687-v55o86l1h42slb0ch1rsismsha1270vg</string>
	<key>API_KEY</key>
	<string>AIzaSyCLxXu9LXy72vWKb5NfkOJKGXc-bShYgXI</string>
	<key>GCM_SENDER_ID</key>
	<string>599552293687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antinna.kidsadmin</string>
	<key>PROJECT_ID</key>
	<string>kidslearning-gohil</string>
	<key>STORAGE_BUCKET</key>
	<string>kidslearning-gohil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599552293687:ios:313e662fc9ab36e405b8b2</string>
</dict>
</plist>